.Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: no-repeat bottom / 100% url("https://loremflickr.com/320/240"); */
}

.Gallery {
    list-style: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}